<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1>Books</h1>
    <a>
      <%= link_to "start", books_path %>
    </a>
    <table>
      <thead>
        <tr>
          
        </tr>
      </thead>
    </table>
  </body>
</html>
